
.forgot-password-content{

    ion-item {
        border-radius: 30px !important;
        padding-left: 10px !important;
        font-size: 1em;
        border: 1px solid #D8D8D8 !important;
        box-shadow: none !important;
        background-color: #FCF9F5 !important;
    }
    .item-inner {
        border-bottom-color: #ffffff !important;
        box-shadow: none !important;
        margin-left: 0 !important;
    }
    }