<!--
  Generated template for the BookServicePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <form [formGroup]="theForm"> -->
<ion-header>

  <ion-navbar>
    <ion-title>Book Service</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="book-now-page" padding>

  <ion-row text-center>
    <ion-col>
      <h2 class="service-head">{{item.services}}</h2>

      <div class="book-price">
        <span>₹​</span> {{item.price}}
      </div>

    </ion-col>
  </ion-row>
  <form [formGroup]="theForm">
    <ion-item class="date-picker input-box">
      <ion-label>
        <ion-icon name="calendar"></ion-icon>
        Choose Date
      </ion-label>
      <!-- <ion-datetime displayFormat="MM/DD/YYYY" formControlName="selected_date"></ion-datetime> -->
      <ion-datetime displayFormat="DD/MM/YYYY" [min]="todaysDateString" max="3000" formControlName="selected_date"></ion-datetime>
    </ion-item>


    <ion-item class="input-box mt-10">
      <ion-label>Select City</ion-label>
      <ion-select formControlName="city_id">
        <ion-option *ngFor="let a of cities;let i =index;" [value]="a.city_id">{{a.city_name}}</ion-option>
      </ion-select>
    </ion-item>



    <ion-item class="input-box mt-10 pin-code">

      <ion-input placeholder="Enter your Pin" formControlName="pincode"></ion-input>
    </ion-item>

    <!-- <div class="slot-selector mt-10">
      <label>Choose Slot</label>
      <ion-list radio-group formControlName="slot_id">
        <ion-item *ngFor="let a of slots;let i =index;">
          <ion-label>{{a.ts_name}}</ion-label>
          <ion-radio [value]="a.ts_id"></ion-radio>
        </ion-item>

      </ion-list>

      

      <div *ngIf="slots && !slots.length" style="margin:12px;"> &nbsp; No slots available for this date </div>
    </div> -->

    <label class="slot-selector-label mt-15">Choose Slot</label>
    <ion-row class="time-slot">
      <ion-col *ngFor="let a of slots;let i =index;" col-4>
          <div class="selection">
              <input formControlName="slot_id" [value]="a.ts_id" id="slot{{i}}" type="radio">
              <label for="slot{{i}}">{{a.ts_name}}</label>
            </div>
      </ion-col>
      
    </ion-row>


  </form>
  <!-- <pre *ngIf="theForm">
    {{this.theForm.value | json}}
  </pre> -->

</ion-content>
<ion-footer class="book-service-footer">
  <ion-toolbar padding>
    <ion-item no-lines no-padding class="custom-checkbox">
      <ion-label>I accept
        <a (click)="openTerms()">Terms and Conditions</a>
      </ion-label>
      <ion-checkbox name="agree" [(ngModel)]="terms" checked="true" required></ion-checkbox>
    </ion-item>

    <button ion-button color="secondary" block (click)="bookNow()" class="">Book Now</button>
  </ion-toolbar>
</ion-footer>
<!-- </form> -->