.book-now-page{
    background-color: #f5f5f5;
    .book-image{
        height: 180px;
        background-image: url(../../assets/img/menu-bg.jpg);
        background-position: center left;
        background-size: cover;
        position: relative;
    }
    
    .book-price{
        font-size: 25px;
        font-weight: 800;
        margin-top: 0;
        margin-bottom: 15px;
        color: #f94118;
    }
    .service-head{
        font-size: 18px;
        font-weight: 700;
        margin: 10px 0 !important;
    }
    .service-desc{
        text-align: justify;
    }
    

      .input-box, .slot-selector{
          background-color: #fff;
          border: 1px solid #eee;
          border-radius: 5px;
          box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
      }
      .date-picker{
          .icon{
              margin-right: 3px;
              color: #3ca1ce;
          }
          .datetime-text{
            font-weight: 700;
          }
      }
      .slot-selector{
        label{
            padding: 10px 5px 5px 15px;
            display: block;
            font-weight: 700;
            color: #3ca1ce;
            border: 0;
          }
      }
      
}

.footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
    display: none;
}



  .footer{
      .toolbar-background{
          background-color: transparent;
          border: 0;
      }
      .custom-checkbox {
        background-color: transparent;    
        width: 75%;
        margin: 0 auto;
        .input-wrapper{
            font-size: 14px;
        }
        .checkbox {
            margin-right: 10px;
        }   
        .item-cover {
          width: 10%;
        }
        .item-inner{
            padding-right: 0;
            .input-wrapper{
                .label{
                    margin-right: 0;
                }
            }
        }
      }
  }

  .list-ios > .item-block:first-child{
      border: 0;
  }