page-item-detail {
  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .item-detail {
    width: 100%;
    background: white;
    position: absolute;
  }


  .book-price{
    font-size: 28px;
    font-weight: 800;
    margin-top: 25px;
    margin-bottom: 15px;
    color: #f94118;
  }
}
