// page-item-detail {
//   .item-profile {
//     width: 100%;
//     background-position: center center;
//     background-size: cover;
//     height: 250px;
//   }

//   .item-detail {
//     width: 100%;
//     background: white;
//     position: absolute;
//   }


//   .book-price{
//     font-size: 28px;
//     font-weight: 800;
//     margin-top: 25px;
//     margin-bottom: 15px;
//     color: #f94118;
//   }
// }


.item-details-page{
    background-color: #f5f5f5;
  .book-image{
      height: 180px;
      background-image: url(../../assets/img/menu-bg.jpg);
      background-position: center left;
      background-size: cover;
      position: relative;
  }
  
  .book-price{
      font-size: 28px;
      font-weight: 800;
      margin-top: 15px;
      margin-bottom: 15px;
      color: #f94118;
  }
  .service-head{
      font-size: 18px;
      font-weight: 700;
      margin: 10px 0 !important;
      color: #41A7DA;
  }
  .service-desc{
      text-align: justify;
  }
  .custom-checkbox { 
      background-color: transparent;
      .input-wrapper{
          font-size: 14px;
      }
      .checkbox {
          margin-right: 10px;
      }   
      .item-cover {
        width: 10%;
      }
    }
    .book-image-col{
        padding: 0;
    }

    .item-detail-bg{
        background-color: #fff;
        border-radius: 5px;
        padding: 10px;        
        box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    }
  
}


