<ion-header class="profile-header">

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!-- <ion-title>My Profile</ion-title> -->
  </ion-navbar>

</ion-header>

<ion-content class="profile-page auth-page" padding>

  <div class="circle"></div>


  <div for="imageupload" class="profile-content">
    <div class="profile-image-wrapper">
      <div class="profile-image">
        <input accept="image/*" type="file" (change)="onImageSelect($event)" id="imageupload">
        <img [src]="profileImg" />
        <div class="camrea">
          <ion-icon name="camera"></ion-icon>
        </div>
      </div>
    </div>
    <!-- 
  <div *ngIf="!logger">
    <button ion-button block (click)="register()">Register</button>
    <button ion-button block (click)="login()" class="login">Login</button>
  </div> -->


    <div *ngIf="logger" padding class="profile-data-wrapper mt-20">

      <h3>{{logger.name}}</h3>
      <p>{{logger.email}}</p>
      <p *ngIf="logger.phone">{{logger.phone}}</p>


      <!-- <ion-list>
      <ion-item>
        <ion-icon name="person" item-start></ion-icon>
        {{logger.name}}
      </ion-item>
      <ion-item>
        <ion-icon name="mail" item-start></ion-icon>
        {{logger.email}}
      </ion-item>
    </ion-list> -->

      <!-- <ion-card>
      <ion-card-header>
        Details
      </ion-card-header>

      <ion-list>
        <button ion-item>
          <ion-icon name="person" item-start></ion-icon>
          {{logger.name}}
        </button>

        <button ion-item>
          <ion-icon name="mail" item-start></ion-icon>
          {{logger.email}}
        </button>

      </ion-list>
    </ion-card> -->


      <div class="mt-15">
        <button ion-button (click)="changePassword()" color="secondary">Change Password</button>
      </div>
      <!-- <div class="mt-10">
        <button ion-button (click)="logout()" color="danger">Logout</button>
      </div> -->
    </div>
  </div>






</ion-content>