<ion-menu [content]="content">


        <ion-content>
                <div class="menu-cover" padding>
                        <ion-row align-items-end>
                                <ion-col *ngIf="user" justify-content-end>
                                        <h3>{{user && user.name}}</h3>
                                        <h4>{{user && user.email}}</h4>
                                </ion-col>
                        </ion-row>
                        <div class="overlay"></div>
                </div>
                <ion-list class="menu-list">
                        <!-- <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
                {{p.title}}
            </button> -->

            <button menuClose ion-item (click)="openPage('ListMasterPage')">
                    <ion-icon name="home"></ion-icon> <label class="menu-label">Home</label>
            </button>
            <button *ngIf="user" menuClose ion-item (click)="openPage('HistoryPage')">
                <ion-icon name="timer"></ion-icon> <label class="menu-label">History</label>
            </button>

            <button menuClose ion-item (click)="openPage('FeedbackPage')">
                <ion-icon ios="ios-paper" md="md-paper"></ion-icon> <label class="menu-label">Feedback</label>
            </button>
            <button menuClose ion-item (click)="openPage('ContactPage')">
                    <ion-icon ios="ios-thumbs-up" md="md-thumbs-up"></ion-icon> <label class="menu-label">Contact Us</label>
            </button>
            <!-- <button menuClose ion-item (click)="openPage('TermsPage')">
                    <ion-icon name="checkmark-circle"></ion-icon> <label class="menu-label">Terms and Conditions</label>
            </button> -->
            <button *ngIf="!user" menuClose ion-item (click)="openPage('LoginPage')">
                    <ion-icon ios="ios-log-in" md="md-log-in"></ion-icon>  <label class="menu-label">Login</label>
            </button>
            <button *ngIf="!user" menuClose ion-item (click)="openPage('RegisterPage')">
                    <ion-icon name="person-add"></ion-icon> <label class="menu-label">Register</label>
            </button>
            <button *ngIf="user" menuClose ion-item (click)="openPage('ProfilePage')">
                    <ion-icon name="person"></ion-icon> <label class="menu-label"> My Profile</label>
            </button>
            <button *ngIf="user" menuClose ion-item (click)="logOut()">
                    <ion-icon ios="ios-log-out" md="md-log-out"></ion-icon> <label class="menu-label">Logout</label>
            </button>
        </ion-list>
    </ion-content>

</ion-menu>
<ion-nav #content [root]="rootPage"></ion-nav>