<ion-header>

  <ion-navbar>
    <ion-title>{{item && item.sub_category}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">


  <ion-card *ngFor="let a of services">
    <ion-card-content [ngStyle]="{'background-image': a.image ? 'url('+baseUrl+a.image+')' : 'url(assets/img/queen-live.png)' }">
      <div class="service-foot">
        <div class="card-title">{{a.services}}</div>
        <button ion-button color="secondary" (click)="bookItem(a)" class="">Book</button>
      </div>
    </ion-card-content>
  </ion-card>

  <div style="padding: 12px;color: #c70909;text-align: center;font-size: 1.2em;margin-top: 68px;" *ngIf="!services || !services.length">
    No services found!
  </div>

</ion-content>