page-list-service {

}


.card-background-page {

    ion-card {
      position: relative;
      text-align: center;
      
    }
    .card-content{
        padding: 0;
        height: 130px;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        box-shadow: inset 0px -51px 68px -10px #000;
    }
  
    .service-foot {
      position: absolute;
      bottom: 0;      
      width: 100%;
      padding: 5px 10px;
      .card-title{
        font-size: 1.5rem;
        font-weight: 700;
        color: #fff;
        text-align: left;
        display: inline-block;
        width: calc(100% - 100px);
        vertical-align: middle;
        text-transform: lowercase;
        line-height: 17px;
        &:first-letter{
            text-transform: uppercase;
        }
      }
      button{
          font-size: 12px;
          text-transform: capitalize;
          display: inline-block;
          width: 90px;
          vertical-align: middle;
          height: 25px;
      }
    }
  
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }
  
  }