<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Categories</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="toProfile()">
        <ion-icon name="ios-contact"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>


  <ion-segment (click)="changeCategory()" [(ngModel)]="type">
    <ion-segment-button value="1">
      Residential
    </ion-segment-button>
    <ion-segment-button value="2">
      Commercial
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content class="landing-page">

  <!-- <ion-card  *ngFor="let a of cats">

  <ion-card-content>
      <button ion-item (click)="openItem(a)">
          <ion-avatar item-start>
            <img *ngIf="!a.category_image" src="assets/img/menu-bg.jpg" />
            <img *ngIf="a.category_image" src="{{this.baseUrl}}{{a.category_image}}" />
          </ion-avatar>
          <h2>{{a.category}}</h2>
          <p>{{a.description}}</p>
        </button>
  </ion-card-content>

</ion-card> -->

  <!-- <ion-list>
    <ion-item *ngFor="let a of cats">
      <button ion-item (click)="openItem(a)">
        <ion-avatar item-start>
          <img src="assets/img/queen-live.png" />
        </ion-avatar>
        <h2>{{a.category_name}}</h2>
        <p>{{a.description}}</p>
      </button>
    </ion-item>
  </ion-list> -->



  <div *ngFor="let a of cats" class="service-type-block">
    <h2>{{a.category}}</h2>
    <div id="step1" class="h-scroll">
      <div *ngFor="let b of a.subcategories" class="h-scroll-content">

        <button ion-item (click)="openItem(b)" class="text-center">
          <div class="type-image">
            <img *ngIf="!b.sub_category_image" src="assets/img/menu-bg.jpg" />
            <img *ngIf="b.sub_category_image" src="{{this.baseUrl}}{{b.sub_category_image}}" />
          </div>
          <h2>{{b.sub_category}}</h2>
          <!-- <p>{{a.description}}</p> -->
        </button>
      </div>
      
    </div>
  </div>


</ion-content>